# ----------------------------------
# DATABASE (NO PASSWORD HERE)
# Password is fetched from Azure Key Vault
# ----------------------------------
DB_HOST=event-pg-server.postgres.database.azure.com
DB_USER=pgadmin
DB_NAME=event_system_db

# ----------------------------------
# AUTH (Loaded from Key Vault)
# ----------------------------------
# JWT_SECRET=loaded-from-keyvault
# JWT_EXPIRES_IN=loaded-from-keyvault

# ----------------------------------
# PAYMENTS (Loaded from Key Vault)
# ----------------------------------
# STRIPE_SECRET_KEY=loaded-from-keyvault

# ----------------------------------
# EMAIL (Azure Communication Services)
# Loaded from Key Vault
# ----------------------------------
# ACS_CONNECTION_STRING=loaded-from-keyvault
# EMAIL_FROM=loaded-from-keyvault

# ----------------------------------
# APP CONFIG (NON-SECRET)
# ----------------------------------
PORT=3000
APP_BASE_URL=http://20.174.16.183:3000
UPLOAD_DIR=uploads

# ----------------------------------
# AZURE KEY VAULT
# ----------------------------------
KEY_VAULT_URL=https://event-kv-iba.vault.azure.net/

# ----------------------------------
# OPTIONAL: Azure Monitoring
# ----------------------------------
APPLICATIONINSIGHTS_CONNECTION_STRING=your_connection_string_here

# ----------------------------------
# FRONTEND URL (for CORS)
# ----------------------------------
FRONTEND_URL=http://20.174.16.183:3001